html *{
	-webkit-font-smoothing: antialiased;
}

nav{
	//border:1px solid yellow;
	justify-content: flex-start;
	height: 100%;
}

.nav a{
	color:#fff;
}

.active{
	background-color: #1997c6;
	border-radius: 0.25rem;
	width:150px;
}